@using System.Text.Json;
@model MultipleReports
@{
    ViewData["Title"] = "Detecting of Onset Of Cysbersicknees using Physiological Cues";
    ViewData["Title2"] = "Multiple Self-Report";
}
<div class="container px-4">
    <div class="row gx-4 center justify-content-center align-items-center">
        <div class="col-lg-8 text-center text-center">
            <h1>@ViewData["Title"]</h1>

        </div>
    </div>
</div>




<style>
    /*  body {
                  margin-top: 4rem;
                  margin-right: 5rem;
                  margin-left: 5rem;
                } */
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    /* setting the text-align property to center*/
    td {
        padding: 5px;
        text-align: center;
    }
    .name-1 {
        width: fit-content;
        padding: 1rem 2rem 0.5rem 2rem;
    }

    .list-inline p {
        font-size: 20px;
        font-weight: 500;
    }

    .list-inline-item {
        padding: 1rem 5rem 1rem 4rem;
    }

    .scene-name {
        font-size: 20px;
        font-weight: 500;
        padding-left: 2rem;
        margin-left: 2.5rem;
        width: 100px;
    }

    .cont-2 {
        padding-left: 1.25rem;
        margin-bottom: 1.5rem;
    }

    .form-check {
        padding-left: 4rem; /* Adjusted padding */
    }
</style>
<section id="participant">
    <div class="container mt-3 mb-2 px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>@ViewData["Title2"]</h2>
              
            </div>
        </div>
    </div>
</section>
<section id="scene">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <div class="scene-name"><p>Scene</p></div>

                <!-- Baseline-->
                <div class="container cont-2">
                    <div class="row radio-group">
                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="radio"
                                       id="baseline"
                                       value="baseline"
                                       name="gsr-graph"
                                       />

								<label class="form-check-label" for="baseline">
									Baseline
								</label>
                            </div>
                        </div>

                        <div class="col-4 d-flex align-items-center justify-content-center">
                            <form method="post"
                                  id="uploadBaselineForm"
                                  enctype="multipart/form-data"
                                  asp-controller="MultipleReports"
                                  asp-action="Index" required>
                                <div class="col-md-auto d-flex align-items-center justify-content-center">
                                    <input id="uploadFileBaseline" type="file" name="files" class="form-control" multiple required />
                                </div>
                            </form>
                        </div>
                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <input type="submit"
                                   id="submitBaseline"
                                   form="uploadBaselineForm"
                                   value="Upload File"
                                   class="btn btn-primary" />

                        </div>
                    </div>
                </div>
                <!-- Passive-->
                <div>
                    <div class="container cont-2">
                        <div class="row radio-group">

                            <div class="col-2 d-flex align-items-center justify-content-center">
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="radio"
                                           id="passive"
                                           name="gsr-graph"
                                           value="passive"/>
                                           
                                    <label class="form-check-label" for="passive">
                                        Passive
                                    </label>
                                </div>
                            </div>

                            <div class="col-4 d-flex align-items-center justify-content-center">
                                <form method="post"
                                      id="uploadPassiveForm"
                                      enctype="multipart/form-data"
                                      asp-controller="MultipleReports"
                                      asp-action="Index" required>
                                    <div class="col-md-auto d-flex align-items-center justify-content-center">
                                        <input id="uploadFilePassive" type="file" name="files" class="form-control" multiple required />
                                    </div>
                                </form>
                            </div>
                            <div class="col-2 d-flex align-items-center justify-content-center">
                                <input type="submit"
                                       id="submitPassive"
                                       form="uploadPassiveForm"
                                       value="Upload File"
                                       class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
                <!--Active -->
                <div>
                    <div class="container cont-2">
                        <div class="row radio-group">
                            <div class="col-2 d-flex align-items-center justify-content-center">
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="radio"
                                           id="active"
                                           name="gsr-graph"
                                           value="active"/>
                                          
                                    <label class="form-check-label" for="active">
                                        Active
                                    </label>

                                </div>
                            </div>

                            <div class="col-4 d-flex align-items-center justify-content-center">
                                <form method="post"
                                      id="uploadActiveForm"
                                      enctype="multipart/form-data"
                                      asp-controller="MultipleReports"
                                      asp-action="Index" required>
                                    <div class="col-md-auto d-flex align-items-center justify-content-center">
                                        <input id="uploadFileActive" type="file" name="files" class="form-control" multiple required />
                                    </div>
                                </form>
                            </div>
                            <div class="col-2 d-flex align-items-center justify-content-center">
                                <input type="submit"
                                       id="submitActive"
                                       form="uploadActiveForm"
                                       value="Upload File"
                                       class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('change', e => {
            if (e.target.name === 'gsr-graph') {
                const selectedValue = e.target.value;


                // Enable the selected file input and submit button
                if (selectedValue === 'baseline') {
                    document.getElementById('uploadFileBaseline').disabled = false;
                    document.getElementById('submitBaseline').disabled = false;
                    document.getElementById('uploadFilePassive').disabled = true;
                    document.getElementById('submitPassive').disabled = true;
                    document.getElementById('uploadFileActive').disabled = true;
                    document.getElementById('submitActive').disabled = true;
                } else if (selectedValue === 'passive') {
                    document.getElementById('uploadFilePassive').disabled = false;
                    document.getElementById('submitPassive').disabled = false;
                    document.getElementById('uploadFileBaseline').disabled = true;
                    document.getElementById('submitBaseline').disabled = true;
                    document.getElementById('uploadFileActive').disabled = true;
                    document.getElementById('submitActive').disabled = true;
                } else if (selectedValue === 'active') {
                    document.getElementById('uploadFileBaseline').disabled = true;
                    document.getElementById('submitBaseline').disabled = true;
                    document.getElementById('uploadFilePassive').disabled = true;
                    document.getElementById('submitPassive').disabled = true;
                    document.getElementById('uploadFileActive').disabled = false;
                    document.getElementById('submitActive').disabled = false;
                }
            }
        });
    </script>
</section>
<div class="container px-4">
    <div class="row gx-4 justify-content-center">
        <div class="col-lg-10">
            <!--
            @if (Model.selfReportsDictionary != null && Model.selfReportsDictionary.Count > 0)
            {
                @foreach (var selfReportDic in Model.selfReportsDictionary)
                {
                    <hr />
                    <h3>Table for Key: @selfReportDic.Key</h3>
                    <table cellpadding="0" cellspacing="0" border="1">
                       
                        <tr>
                            <td>TimeStamp</td>
                            <td>Segment</td>
                            <td>SelfReport</td>
                        </tr>
                        @foreach (var selfReport in @selfReportDic.Value)
                        {
                            
                            <tr>
                                <td>@selfReport.timeStamp</td>
                                <td>@selfReport.segment</td>
                                <td>@selfReport.selfReport</td>
                            </tr>
                        }
                    </table>
                }
            }
            else
            {
                
                <p class="overflow-hidden">No Data</p>
            }
            -->
            <h2>Average Table</h2>
            @if (Model.averageSelfReport != null && Model.averageSelfReport.Count > 0)
            {
                <hr />
                <table cellpadding="0" cellspacing="0" border="1">
                    <style>
                        table,
                        th,
                        td {
                            border: 1px solid black;
                            border-collapse: collapse;
                        }
                        /* setting the text-align property to center*/
                        td {
                            padding: 5px;
                            text-align: center;
                        }
                    </style>
                    <tr>
                        <td>TimeStamp</td>
                        <td>Segment</td>
                        <td>SelfReport</td>
                    </tr>
                    @foreach (SelfReport selfReport in Model.averageSelfReport)
                    {
                        <tr>
                            <td>@selfReport.timeStamp</td>
                            <td>@selfReport.segment</td>
                            <td>@selfReport.selfReport</td>
                        </tr>
                    }
                </table>
            }
           
              
            
        </div>
    </div>
</div>

@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>
}




<body>
    <button id="downloadButton">Download as PNG</button>
    <div id="graph-container"> 
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script>
           
            var selfReportsDictionaryJson = @Html.Raw(Json.Serialize(Model.selfReportsDictionary));
            console.log(selfReportsDictionaryJson);
            /*
            var selfReportsArray = [];
            for (var key in selfReportsDictionaryJson) {
                if (selfReportsDictionaryJson.hasOwnProperty(key)) {
                    var item = {
                        key: key,
                        value: selfReportsDictionaryJson[key]
                    };
                    selfReportsArray.push(item);
                }
            }

            // Now you can iterate over the array
            selfReportsArray.forEach((item) => {
                console.log("Key: ", item.key);
                console.log("Value: ", item.value);
               
                const margin = { top: 70, right: 30, bottom: 40, left: 80 };
                const width = 1200 - margin.right - margin.left;
                const height = 500 - margin.top - margin.bottom;

                //set up the x and y scales
                const x = d3.scaleTime()
                    .range([0, width]);
                const y = d3.scaleLinear()
                    .range([height, 0]);

                const svg = d3.select('#graph-container')
                    .append("svg")
                    .attr('width', width + margin.right + margin.left)
                    .attr('height', height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", `translate(${margin.left}, ${margin.top})`);

                item.value.forEach(function (d) {
                    d.timeStamp = new Date(d.timeStamp);        
                    d.segment = +d.segment; //                  
                    d.selfReport = +d.selfReport;
                    
                });
               
               

                // Define the x and y domains
                x.domain(d3.extent(item.value, s => s.segment));
                y.domain([0, d3.max(item.value, s => s.selfReport)]);
                console.log(x, y);


                // y.domain([0, d3.max(selfReports, s => s.selfReport)]);

                // Add the x-axis

                svg.append("g")
                    .attr("transform", `translate(0,${height})`)
                    .call(d3.axisBottom(x)
                    .ticks(10)
                    .tickFormat(d3.format("d")));

                //Add the y-axis
                svg.append("g")
                    .call(d3.axisLeft(y))

                

                const lineSelfReport = d3.line()
                    .x(s => x(s.segment))
                    .y(s => y(s.selfReport));

              

                //Add the lineSegment to the SVG element
                svg.append("path")
                    .datum(item.value)
                    .attr("fill", "none")
                    .attr("stroke", "red")
                    .attr("stroke-width", 3)
                    .attr("d", lineSelfReport);

            });
            */

            //Set dimensions and margins for the graph
            //Construct the margin for the graph and tick label//
            const margin = { top: 70, right: 30, bottom: 40, left: 80 };
            const width = 1200 - margin.left - margin.right;
            const height = 500 - margin.top - margin.bottom;

            //set up the x and y scales
            const x = d3.scaleTime()
                .range([0, width]);
            const y = d3.scaleLinear()
                .range([height, 0]);

            //create the SVG element and append it to the chart container
            const svg = d3.select("#graph-container")
                .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", `translate(${margin.left},${margin.top})`);


            //Dataset conversion from Model to Json
            //Serialize the model property into JSON string
            //Output the JSON string as raw HTML into the view
            //Assign the JSON string to JS variable
            var selfReports = @Html.Raw(Json.Serialize(Model.averageSelfReport));
            console.log(selfReports);

            /*
            selfReports.forEach(function (d) {
                d.timeStamp = new Date(d.timeStamp); // Assuming TimeStamp is a date string
                d.segment = +d.segment; // Convert to number using unary operator
                d.selfReport = +d.selfReport; // Convert to number using unary operator
            });
            */

            // Define the x and y domains
            //X-axis use d3.extent means getting the min segment value to the max segment value in selfReport List
            x.domain(d3.extent(selfReports, s => s.segment));
            //Y-axis domian will be use from 0 to the max value of selfReport in selfReport list.
            y.domain([0, d3.max(selfReports, s => s.selfReport)]);

          

            // Add the x-axis
            svg.append("g")
                .attr("transform", `translate(0,${height})`)
                //call d3.axisBottom cause x-axis need to align wtih the bottom of the canvas
                .call(d3.axisBottom(x)
                  //number of ticks on label
                 .ticks(10)
                 //format the number as an integers
                 .tickFormat(d3.format("d")));

            //Add the y-axis
            svg.append("g")
                //call d3.axisLeft cause y-axis need to align to the left of the canvas
                .call(d3.axisLeft(y))

            //Create the line generator
            //call d3.line() to draw a line
            const lineSelfReport = d3.line()
                .x(s => x(s.segment))
                .y(s => y(s.selfReport));

            //Add the lineSegment to the SVG element
            svg.append("path")
                //use the selfReport list data
                .datum(selfReports)
                .attr("fill", "none")
                .attr("stroke", "red")
                .attr("stroke-width", 3)
                //draw a line
                .attr("d", lineSelfReport);

            //Add Y-axis label
            svg.append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 0 - margin.left)
                .attr("x", 0 - (height / 2))
                .attr("dy", "1em")
                .style("font-size", "14px")
                .style("font-family", "sans-serif")
                .text("Self Report");

            //Add the X-axis label
            svg.append("text")
                .attr("class", "xLabel")
                .attr("x", width - 600)
                .attr("y", height + margin.bottom - 3)
                .style("font-size", "14px")
                .style("font-family", "sans-serif")
                .text("Segment");


            //Add the chart title
            svg.append("text")
                .attr("class", "chart-title")
                .attr("x", margin.left - 115)
                .attr("y", margin.top - 100)
                .style("font-size", "24px")
                .style("font-weight", "bold")
                .style("font-family", "sans-serif")
                .text("Multiple Self-Reports Graph");

       
            // Function to download the SVG as PNG
            function downloadSVGAsPNG() {
                const svgElement = document.querySelector("#graph-container");
                html2canvas(svgElement).then(canvas => {
                    // Get the image data as a base64-encoded string
                    const imageData = canvas.toDataURL("image/png");
                    //Saving image as a png file
                    //Create an anchor element and trigger a download action
                    const link = document.createElement("a");
                    link.setAttribute("download", "graph.png");
                    link.setAttribute("href", imageData);
                    link.click();


                });
            }
            //call the function to when user click on the button
            document.getElementById("downloadButton").addEventListener("click", downloadSVGAsPNG);




        </script>
      
    </div>
    
</body>