@{
    ViewData["Title"] = "Detecting of Onset Of Cysbersicknees using Physiological Cues";
    ViewData["Title2"] = "GSR Report Graph";
}
<div class="container px-4">
    <div class="row gx-4 center justify-content-center align-items-center">
        <div class="col-lg-8 text-center text-center">
            <h1>@ViewData["Title"]</h1>

        </div>
    </div>
</div>





<style>
   
    .name-1 {
        width: fit-content;
        padding: 1rem 2rem 0.5rem 2rem;
    }

    .list-inline p {
        font-size: 20px;
        font-weight: 500;
    }

    .list-inline-item {
        padding: 1rem 5rem 1rem 4rem;
    }

    .scene-name {
        font-size: 20px;
        font-weight: 500;
        padding-left: 2rem;
        margin-left: 2.5rem;
        width: 100px;
    }

    .cont-2 {
        padding-left: 1.25rem;
        margin-bottom: 1.5rem;
    }

    .form-check {
        padding-left: 4rem; /* Adjusted padding */
    }
</style>
<section id="participant">
    <div class="container mt-3 mb-2 px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>@ViewData["Title2"]</h2>
                
            </div>
        </div>
    </div>
</section>
<section id="scene">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <div>
                    <div class="container cont-2">
                        <div class="row">
                            <div class="col-2 d-flex align-items-center justify-content-center">
                                <div class="form-check">
                                    
                                    <label class="form-check-label">
                                        Shimmer
                                    </label>
                                </div>
                            </div>

                            <div class="col-4 d-flex align-items-center justify-content-center">
                                <form method="post"
                                      id="uploadPassiveForm"
                                      enctype="multipart/form-data"
                                      asp-controller="GSR"
                                      asp-action="Index">
                                    <div class="col-md-auto d-flex align-items-center justify-content-center">
                                        <input type="file" name="file" class="form-control" required/>
                                    </div>
                                </form>
                            </div>
                            <div class="col-2 d-flex align-items-center justify-content-center">
                                <input type="submit"
                                       form="uploadPassiveForm"
                                       value="Upload File"
                                       class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</section>
<!--
<div class="container px-4">
    <div class="row gx-4 justify-content-center">
        <div class="col-lg-10">
            @if (Model.Count > 0)
            {
                <hr />
                <table cellpadding="0" cellspacing="0" border="1">
                    <style>
                        table,
                        th,
                        td {
                            border: 1px solid black;
                            border-collapse: collapse;
                        }
                        /* setting the text-align property to center*/
                        td {
                            padding: 5px;
                            text-align: center;
                        }
                    </style>
                    <tr>
                        <td>Ms</td>
                        <td>No_Units</td>
                        <td>uS</td>
                        <td>kOhms</td>
                        <td>mV</td>
                    </tr>
                    @foreach (GSR gsrReport in Model)
                    {
                        <tr>

                            <td>@gsrReport.ms</td>
                            <td>@gsrReport.noUnits</td>
                            <td>@gsrReport.uS</td>
                            <td>@gsrReport.kOhms</td>
                            <td>@gsrReport.mV</td>
                         
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
</div>
-->

@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>    
}

<body>
    <button id="downloadButton">Download as PNG</button>
    <div id="chart-container">
        <div id="vertical-slider"></div>
    </div>
    
    <div id="slider-range"></div>

    
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!--D3 Simple Slider script-->
    <script src="https://unpkg.com/d3-simple-slider"></script>
    <!--Html2Canvas Script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <style>
        .bar {
            fill: navy;
        }

        #chart-container {
            display:flex;
            background-color: white;
        }
        #vertical-slider {
			margin-top: 120px;
        }

        #slider-range {
			margin-left: 50px;
        }
        }
    </style>
<script>
        //Set dimensions and margins for the graph
        //Construct the margin for the graph and tick label
        const margin = { top: 70, right: 60, bottom: 50, left: 50 };
        const width = 1200 - margin.left - margin.right;
        const height = 500 - margin.top - margin.bottom;


        // Set up the x and y scales.
        // Horizontal range is from 0 to the max width defined
        const x = d3.scaleTime().range([0, width]);
        // Vertical range is from the max height defined to 0
        const y = d3.scaleLinear().range([height, 0]);

        // Create the SVG element and append it to the chart container
        const svg = d3.select("#chart-container")
            //append the svg into the div chart-container
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            //append group inside the svg
            .append("g")
            .attr("transform", `translate(${margin.left},${margin.top})`);

        // Dataset conversion
        var gsrReport = @Html.Raw(Json.Serialize(Model));
        console.log(gsrReport);
       
        gsrReport.forEach(function (d) {
            d.tSpan = new Date(d.tSpan); // Convert to Date object
            d.noUnits = +d.noUnits;
            d.uS = +d.uS;
            d.kOhms = parseFloat(d.kOhms);
            d.mV = parseFloat(d.mV);

            //Create current Date value to assign Minutes and Seconds
            const dayTest = new Date();
            //console.log(dayTest);
            const timeString = d.xValueTspan;
            //console.log(timeString);
            //Seperate the timeString in 3 parts HH:MM:SS by colon
            const parts = timeString.split(":");

            const minutes = parseInt(parts[1], 10);
            const seconds = parseInt(parts[2]);

            dayTest.setMinutes(minutes);
            dayTest.setSeconds(seconds);
            
            //console.log(dayTest.toString("YYYY-MM-DD HH:mm:ss fff"));
            d.xValueTspan = dayTest;

        });

        // Initialize horizontal and vertical ranges
        let horizontalRange = d3.extent(gsrReport, s => s.xValueTspan);
        let verticalRange = [0, d3.max(gsrReport, s => s.uS)];

        // Define the x and y domains
        x.domain(horizontalRange);
        y.domain(verticalRange);

        console.log("x domain:", x.domain());
        console.log("y domain:", y.domain());

        // Add the x-axis
        svg.append("g")
            .attr("class", "x-axis")
            .attr("transform", `translate(0,${height})`)
            .call(d3.axisBottom(x)
                .ticks(d3.timeMinute.every(1))
                .tickFormat(d3.timeFormat("%M:%S")));

        // Add the y-axis
        svg.append("g")
            .attr("class", "y-axis")
            .call(d3.axisLeft(y));

        // Create the line generator
        const msLine = d3.line()
            .x(s => x(s.xValueTspan))
            .y(s => y(s.uS));

        // Add the line to the SVG
        svg.append("path")
            .datum(gsrReport)
            .attr("class", "line")
            .attr("fill", "none")
            .attr("stroke", "steelblue")
            .attr("stroke-width", 3)
            .attr("d", msLine);

        //Horizontal Slider configuration
        const horizontalSlider = d3.sliderBottom()
            //set the minimum value of the slider to the minimum value in dataset
            .min(d3.min(gsrReport, d => d.xValueTspan))
            //set the maximum value of the slider to the maximum value in dataset
            .max(d3.max(gsrReport, d => d.xValueTspan))
            //width of the slider
            .width(400)
            //Only show minutes and second value
            .tickFormat(d3.timeFormat("%M:%S"))
            .ticks(3)
            //default domain
            .default(horizontalRange)
            .fill('#85bb65');
        
        //Vertical Slider configuration
        const verticalSlider = d3.sliderLeft()
            //set the minimum value of the slider to 0 
            .min(0)
            //set the maximum value of the slider to the maximum value in dataset
            .max(d3.max(gsrReport, d => d.uS))
            .height(250)
            .ticks(5)
            .default(verticalRange)
            .fill('#85bb65');

       
        // Update function to redraw the graph
        function updateGraph() {
            //filtering data between min and max value range from user's input for both xaxis and yaxis
            const filteredData = gsrReport.filter(d => 
                    //Filtering the new minnum and maximum of xValueTspan that falls into new range
                    d.xValueTspan >= horizontalRange[0] && d.xValueTspan <= horizontalRange[1]
                //Filtering the new minnum and maximum of uS that falls into new range
                    && d.uS >= verticalRange[0] && d.uS <= verticalRange[1]
            );

            //Update the x and y domain with latest range
            x.domain(horizontalRange);
            y.domain(verticalRange);


            // Update the line generator function based on new x and y domain
            const line = d3.line()
                .x(d => x(d.xValueTspan))
                .y(d => y(d.uS));

            //Update value on xAxis for new range
            svg.select(".x-axis")
                .call(d3.axisBottom(x)
                    .ticks(d3.timeMinute.every(1))
                    .tickFormat(d3.timeFormat("%M:%S")));

            //Update value on yAxis for new range
            svg.select(".y-axis")
                .call(d3.axisLeft(y));

            // Update the line
            svg.select(".line")
                .datum(filteredData)
                .attr("d", line);
        }

        // Horizontal slider onchange, give a onchange function called the val 
        horizontalSlider.on('onchange', val => {
            //When slide the slider, it will update the array value of minimum and maximum to the domain
            //default value set in slider configuration
            horizontalRange = val;
            //update the graph on new val
            updateGraph();
        });

        // Vertical slider onchange, give a onchange function called the val
        verticalSlider.on('onchange', val => {
            //When slide the slider, it will update the array value of minimum and maximum to the domain
            //default value set in slider configuration
            verticalRange = val;
            //update the graph on new val
            updateGraph();
        });

        // Append horizontal slider
        d3.select("#slider-range")
            .append("svg")
            .attr("width", 500)
            .attr("height", 100)
            .append("g")
            .attr("transform", "translate(80,30)")
            .call(horizontalSlider);

        // Append vertical slider
        d3.select("#vertical-slider")
            .append("svg")
            .attr("width", 100)
            .attr("height", 300)
            .append("g")
            .attr("transform", `translate(50, 20)`)
            .call(verticalSlider);

        //Download Image// Function to download the SVG as PNG
        function downloadSVGAsPNG() {
            const svgElement = document.querySelector("#chart-container");
            //Render SVG as canvas
            html2canvas(svgElement).then(canvas => {
                // Get the image data as a base64-encoded string
                const imageData = canvas.toDataURL("image/png");
                //Saving image as a png file
                //Create an anchor element and trigger a download action
                const link = document.createElement("a");
                //download attribute set to graph.png
                link.setAttribute("download", "graph.png");
                //Used to create a link to download the image
                link.setAttribute("href", imageData);
                //Trigger download event
                link.click();
          
            });
        }

        document.getElementById("downloadButton").addEventListener("click", downloadSVGAsPNG);
       
</script>

 
</body>