@{
    ViewData["Title"] = "Detecting of Onset Of Cysbersicknees using Physiological Cues";
    ViewData["Title2"] = "Self Report";
}
<div class="container px-4">
    <div class="row gx-4 center justify-content-center align-items-center">
        <div class="col-lg-8 text-center text-center">
            <h1>@ViewData["Title"]</h1>

        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>



<style>
    /*  body {
              margin-top: 4rem;
              margin-right: 5rem;
              margin-left: 5rem;
            } */
    .name-1 {
        width: fit-content;
        padding: 1rem 2rem 0.5rem 2rem;
    }

    .list-inline p {
        font-size: 20px;
        font-weight: 500;
    }

    .list-inline-item {
        padding: 1rem 5rem 1rem 4rem;
    }

    .scene-name {
        font-size: 20px;
        font-weight: 500;
        padding-left: 2rem;
        margin-left: 2.5rem;
        width: 100px;
    }

    .cont-2 {
        padding-left: 1.25rem;
        margin-bottom: 1.5rem;
    }

    .form-check {
        padding-left: 4rem; /* Adjusted padding */
    }
</style>
<section id="participant">
    <div class="container mt-3 mb-2 px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>@ViewData["Title2"]</h2>
                <ul class="list-inline">
                    <div class="name-1"><p>Paritipant</p></div>
                    <li class="list-inline-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="single" />
                            <label class="form-check-label" for="single"> 
                                Single 
                            </label>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="Multiple" />
                            <label class="form-check-label" for="Multiple">
                                Multiple
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="scene">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <div class="scene-name"><p>Scene</p></div>
                <div class="container cont-2">
                    <div class="row">
                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="checkbox"
                                       id="baseline" />
                                <label class="form-check-label" for="baseline">
                                    Baseline
                                </label>
                            </div>
                        </div>

                        <div class="col-4 d-flex align-items-center justify-content-center">
                            <form method="post"
                                  id="uploadBaselineForm"
                                  enctype="multipart/form-data"
                                  asp-controller="SelfReport"
                                  asp-action="Index">
                                <div class="col-md-auto d-flex align-items-center justify-content-center">
                                    <input type="file" name="file" class="form-control" required/>
                                </div>
                            </form>
                        </div>
                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <input type="submit"
                                   id="submit"
                                   form="uploadBaselineForm"
                                   value="Upload File"
                                   class="btn btn-primary" />
                                  
                        </div>
                    </div>
                </div>
                <div>
                    <div class="container cont-2">
                        <div class="row">
                            <div class="col-2 d-flex align-items-center justify-content-center">
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           id="passive" />
                                    <label class="form-check-label" for="passive">
                                        Passive
                                    </label>
                                </div>
                            </div>

                            <div class="col-4 d-flex align-items-center justify-content-center">
                                <form method="post"
                                      id="uploadPassiveForm"
                                      enctype="multipart/form-data"
                                      asp-controller="SelfReport"
                                      asp-action="Index">
                                    <div class="col-md-auto d-flex align-items-center justify-content-center">
                                        <input type="file" name="file" class="form-control" />
                                    </div>
                                </form>
                            </div>
                            <div class="col-2 d-flex align-items-center justify-content-center">
                                <input type="submit"
                                       form="uploadPassiveForm"
                                       value="Upload File"
                                       class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="container cont-2">
                        <div class="row">
                            <div class="col-2 d-flex align-items-center justify-content-center">
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           id="active" />
                                    <label class="form-check-label" for="active">
                                        Active
                                    </label>
                                </div>
                            </div>

                            <div class="col-4 d-flex align-items-center justify-content-center">
                                <form method="post"
                                      id="uploadActiveForm"
                                      enctype="multipart/form-data"
                                      asp-controller="SelfReport"
                                      asp-action="Index">
                                    <div class="col-md-auto d-flex align-items-center justify-content-center">
                                        <input type="file" name="file" class="form-control" />
                                    </div>
                                </form>
                            </div>
                            <div class="col-2 d-flex align-items-center justify-content-center">
                                <input type="submit"
                                       form="uploadActiveForm"
                                       value="Upload File"
                                       class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container px-4">
    <div class="row gx-4 justify-content-center">
        <div class="col-lg-10">
            @if (Model.Count > 0)
            {
                <hr />
                <table cellpadding="0" cellspacing="0" border="1">
                    <style>
                        table,
                        th,
                        td {
                            border: 1px solid black;
                            border-collapse: collapse;
                        }
                        /* setting the text-align property to center*/
                        td {
                            padding: 5px;
                            text-align: center;
                        }
                    </style>
                    <tr>
                        <td>TimeStamp</td>
                        <td>Segment</td>
                        <td>SelfReport</td>
                    </tr>
                    @foreach (SelfReport selfReport in Model)
                    {
                        <tr>
                            <td>@selfReport.timeStamp</td>
                            <td>@selfReport.segment</td>
                            <td>@selfReport.selfReport</td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
</div>




<body>
    <div id="chart-container"></div>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <style>
        .bar {
            fill: navy;
        }
    </style>

    <script>
        //Set dimensions and margins for the chart

        const margin = { top: 70, right: 30, bottom: 40, left: 80 };
        const width = 1200 - margin.left - margin.right;
        const height = 500 - margin.top - margin.bottom;

        //set up the x and y scales
        const x = d3.scaleTime()
            .range([0, width]);
        const y = d3.scaleLinear()
            .range([height, 0]);

        //create the SVG element and append it to the chart container
        const svg = d3.select("#chart-container")
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", `translate(${margin.left},${margin.top})`);


        //create a dump dataset
        var selfReports = @Html.Raw(Json.Serialize(Model));
        console.log(selfReports);

        selfReports.forEach(function (d) {
            d.timeStamp = new Date(d.timeStamp); // Assuming TimeStamp is a date string
            d.segment = +d.segment; // Convert to number using unary operator
            d.selfReport = +d.selfReport; // Convert to number using unary operator
        });

        // Define the x and y domains

        x.domain(d3.extent(selfReports, s => s.timeStamp));
        y.domain([0, d3.max(selfReports, s => s.selfReport)]);
       
        // y.domain([0, d3.max(selfReports, s => s.selfReport)]);

        // Add the x-axis

        svg.append("g")
            .attr("transform", `translate(0,${height})`)
            .call(d3.axisBottom(x)
                .tickFormat(d3.timeFormat("%I:%M:%S %p")));

        //Add the y-axis
        svg.append("g")
            .call(d3.axisLeft(y))

        //Create the line generator
        const lineSegment = d3.line()
            .x(s => x(s.timeStamp))
            .y(s => y(s.segment));

        const lineSelfReport = d3.line()
            .x(s => x(s.timeStamp))
            .y(s => y(s.selfReport));


        //Add the lineSegment to the SVG element
        svg.append("path")
            .datum(selfReports)
            .attr("fill", "none")
            .attr("stroke", "steelblue")
            .attr("stroke-width", 3)
            .attr("d", lineSegment);

        //Add the lineSegment to the SVG element
        svg.append("path")
            .datum(selfReports)
            .attr("fill", "none")
            .attr("stroke", "red")
            .attr("stroke-width", 3)
            .attr("d", lineSelfReport);
    </script>


    
</body>
